<div class="text-center">
  <h1 class="display-4">About Y</h1>
  <p class="lead">The social network that won't let you down</p>
  <p class="lead mb-5">Our social network redefines the way you interact with the world. Share your ideas, follow conversations in real time, and discover relevant content with a smooth, dynamic experience.</p>
</div>